body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
}

.curtain {
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #800020; /* Wine color */
    top: 0;
    transition: transform 2s ease;
    z-index: 2;
    background-image: url('textures/curtain-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Slideshow Centering */
.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-img {
    max-width: 100%; /* Adjust the image size */
    height: auto;
    border: none; /* Remove the old border */
    margin: 0 auto; /* Center the image */
}

.mySlides {
    display: none;
}

.mySlides.active {
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.prev, .next {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
}
